.App {
  text-align: center;
  background-color: rgb(209, 228, 249);
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.TaskList{
  text-align: center;
  border: 0;
  margin-right: 10px;
}

.left {
  position:absolute;
  left:0; top:0px; bottom: 0;
  width: 200px;
  background-color: rgb(173, 128, 188);
}
